.header{
  background:blue;
  color:white;
  justify-content:space-between;
  height:50px;
  padding-top: 20px;
}
.header h2 {
  display:inline;
margin:10px;
padding: 40px:

}
.header li{

display:inline;
padding:40px;

}
.articlecontent{
  margin-top: 20px;
  background-color:gray;
}
.articlecontent h3 {
  padding:10px;

}

.articlecontent p{
  font-size: 15px;
  padding:10px:
}


.article22 h3{
  padding:10px;
  color:#1E90FF;
}

.article22 p{
  padding:10px;
}

.notification li{
  display:inline;
  background-color: orange;
  width: auto;
  padding-right: 320px;
}

.notification1   li{
  display:inline;
  background-color: orange;
  width: auto;
  padding-right: 320px;
}
